<div id="results_header">

  <strong class="short-url"> Shortened Link </strong>
  <strong class="long-url"> Long Link </strong>

</div>
<div id="results">

  <a href="#" class="short-url"> </a>
  <a href="#" class="long-url"> </a>

</div>