
alert("good" );

// alert("good" + @url.url);

$('#form_url').bind('ajax:success', function(){
  $(this).css("background-color", "ffff00");
});

// $('body').html("<h1><%= (@url.url) %></h1>").append("<%= (@url.url) %>");  